
DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=

RESEND_API_KEY=
RESEND_FROM=
EMAIL_FROM=
EMAIL_TEMPLATE_TEST_RECIPIENT=zafajardo9@gmail.com

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
